click
cycler
Flask
gunicorn
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
pandas
Pillow
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
six
Werkzeug
